<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gerador_de_Coordenadas.Properties.Settings.DW_COMERCIAL_VENDASConnectionString"
            connectionString="Data Source=ASUS-RAPHAEL;Initial Catalog=DW_COMERCIAL_VENDAS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>